[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
Jinja2 = "*"

[requires]
python_version = "3.7"
